@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins';
    font-weight: 500;
    height: 100vh;
    background: linear-gradient(to bottom, black 0%, black 50%, orange 50%, orange 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border-radius: 10px;
    padding: 20px;
    height: 460px;
    min-height: 460px;
    width: 350px;
    min-width: 300px;

    color: #fff;
    background: rgb(61, 107, 235);
}

.container .amount h1 {
    font-size: 24px;
    text-align: center;
}

.container .amount input {
    padding: 6px;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 100%;
}

.container .amount p {
    font-size: 16px;
}

img {
    max-width: 20px;
}

.convertbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.to,
.from {
    width: 100%;
}

.selectinput {
    border-radius: 4px;
    display: flex;
    background: transparent;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    padding: 0 20px;
}

select {
    padding: 6px;
    border-radius: 8px;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    background: none;
    font-size: 1rem;
    margin: 0 -5px 0 5px;

}

select option {
    color: black;

}

.reverse {
    font-size: 25px;
    margin-top: 32px;
    cursor: pointer;
    transform: rotate(90deg);
}

.result {
    font-size: 20px;
    margin: 40px 0px 20px 0px;
}

button {
    font-size: 18px;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 10px 40px;
}

button:hover{
   
      background:orange;
}